{% extends 'app/base.html' %}
{% block content %}
    <div class="card">

        <div class="profile">
          <span class="profile-img"></span>

          <ul class="username">
            <li class="name"> Bytetrek Ltd. </li>
            <li class="time"> 1 hour ago </li>

          </ul>
        </div>

        <div class="card-img-about">
          <img src="/media/asset/images/banner-img.jpg" alt="Unsplash">
        </div>
{#        <p class="post-title">Title</p>#}

        <div class="card-footer">
            <div class="post">Providing a wide range of IT-related services to help businesses streamline their operations and increase productivity with tailored solutions to meet the specific needs of clients. Byte Trek is committed to excellence, customer satisfaction, and contributing to the growth of the ITES sector globally.
            </div>
        </div>

      </div>
{% endblock content %}